<!doctype html>
<html ng-app>
<head>
    <script src="angular.js"></script>
    <script src="list.js"></script>
    <link rel="stylesheet" href="list.css">
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class='wrapper b-main'>
        <h1 class='b-main__header'>Список дел</h1>
        <div class="panel" ng-controller="ListCtrl">
            <h3 class="b-main__rest"> Осталось {{remain()}} из {{items.length}}</h4>
            <table class="table table-striped">
                    <tr ng-repeat="item in items">
                        <td><input class="checkbox-inline" type="checkbox" ng-model="item.done"></td>
                        <td><span class="done-{{item.done}}">{{item.text}}</span></td>
                        <td><span ng-model="item.date">{{item.date}}</span></td>
                        <td><span ng-click="removeItem()" class='glyphicon glyphicon-remove'></span></td>
                    </tr>
                </tbody>
            </table>
            <form name="myForm" ng-submit="addItem()" novalidate>
                <!-- поле добавить пункт -->
                <input class="form-control" type="text" class="form-control"
                    required ng-model="itemText" 
                    size="30" placeholder="Добавить пункт">
                <span ng-show="myForm.itemText.$error.required" class="itemNotChosen"> 
                    Please insert something 
                </span>
                <!-- поле выбрать дату -->
                <input class="form-control" type="date" class="form-control"
                    required ng-model="itemDate" size="30">
                <span ng-show="myform.itemDate.$error.required" class="dateNotChosen">
                    Please choose a date
                </span>
                <input class="btn btn-primary" 
                    type="submit" value="Добавить">
            </form>
        </div>
    </div>
</body>
</html>