<!doctype html>
<html ng-app='toDoList'>
<head>
    <title>Task Manager</title>
    <script src="angular.js"></script>
    <script src="list.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="list.css">
    <link rel="icon" type="image/png" href="img/favicon.ico">
</head>
<body>
    <div class='wrapper b-main'>
        <h1 class='b-main__header'>Task List</h1>
        <div class="panel" ng-controller="ListCtrl">
            <h3 class="b-main__rest"> Remain {{remain()}} of {{items.length}}</h4>
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | orderBy:customFilter">
                        <td class='b-main__done'><input class="checkbox-inline" type="checkbox" ng-model="item.done"></td>
                        <td class='b-main__name'><span ng-dblclick='changeItem()' class="done-{{item.done}}">{{item.text}}</span></td>
                        <td class='b-main__date'><span ng-model="item.date">{{item.date}}</span></td>
                        <td class='b-main__priority'><span>{{item.priority}}</span></td>
                        <td class='b-main__remove'><span ng-click="removeItem()" class='glyphicon glyphicon-remove'></span></td>
                    </tr>
                </tbody>
            </table>
            <form name="myForm" ng-submit="addItem()" novalidate>
                <input class="form-control" type="text" 
                    required ng-model="itemText" 
                    size="30" placeholder="Add task">
                <span ng-show="myForm.itemText.$error.required"> 
                    Please insert something 
                </span>
                <input class="form-control" type="date" 
                    required ng-model="itemDate" size="30">
                <select class='form-control' ng-model='priority' required>
                    <option value="">Choose priority</option>
                    <option value="High">High</option>
                    <option value="Regular">Regular</option>
                    <option value="Low">Low</option>
                </select>
                <span ng-show="myform.itemDate.$error.required">
                    Please choose a date
                </span>
                <input class="btn btn-primary" ng-disabled='myForm.$invalid'
                    type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>