/** {
  transition: 0.4s;
}*/

.done-true {
  color: black;
}

.done-false {
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #5b92ff 0%, #3a6fd7 100%);
  background-image: -o-linear-gradient(top, #5b92ff 0%, #3a6fd7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5b92ff), to(#3a6fd7));
  background-image: linear-gradient(to bottom, #5b92ff 0%, #3a6fd7 100%);
  width: 200px;
    margin: 0 auto;
}

.btn-primary:disabled, .btn-primary[disabled] {
  background-color: #7f9ace;
  border-color: #6b81aa;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

table {
  font-size: 16px;
}

table tr:nth-child(2n+1) {
  background-color: #e5e8ed;
}

table tr:nth-child(2n+1):hover {
  background-color: #7f9ace;
}


table thead th {
  background-color: #3a6fd7;
}

table thead, table tr:nth-child(2n) {
  background-color: #5b92ff;
  color: #ffffff;
}

table thead, table tr:nth-child(2n):hover {
  background-color: #3a6fd7;
}

table tbody tr:nth-child(2n) td:nth-child(2) {
  background: #3a6fd7;
}

table tbody tr:nth-child(2n+1) td:nth-child(2) {
  background: #7f9ace;
}

td, th {
  text-align: center;
  padding: 20px 5px;
}

.wrapper {
  width: 600px; 
  margin: 0 auto;
}

.b-main__header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #346689;
  margin: 10px 0; 
}

.b-main__remove, .b-main__done {
  width: 80px;
}

.b-main__name, .b-main__date, .b-main__priority {
  width: 150px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
  content: "\e014";
}


.addButton {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    color: #ffffff;
    font-size: 40px;
    line-height: 1px;
    background-color: #5b92ff;
}


.bottom_line {
  margin-top: 20px;
  text-align: right;
}


.bottom_line .addButton {
  outline: none;
}